<head th:fragment="head(title)">

    <meta charset="utf-8"></meta>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"></meta>
    <meta name="context-path" th:content="@{/}"/>
    <title th:text="${title}"></title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"></link>
    <link rel="stylesheet" th:href="@{/css/style.css}"></link>
    <link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}"></link>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"></link>

    <link rel="shortcut icon" type="image/png" th:href="@{/img/favicon.png}"></link>

</head>
