@import url('https://fonts.googleapis.com/css?family=Roboto:300,400&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400&subset=latin-ext');


/* TODO format and order! */

body {
	font-family: "Open Sans", "Roboto", sans-serif !important;
	background-color: #fcfcfc;
    color: #373737;
    padding: 0;
    margin: 0;
    font-size: 0.9em;
    min-height: 100vh;
    justify-content: space-between;
    flex-direction: column;
    display: flex;
}

body > .container {
    padding: 60px 15px 0;
}

footer {
	text-align: center;
    background: #874d63;
    color: rgba(255,255,255,.5);
    padding: 5px;
    margin-top: 30px;
}

h2, h3 {
	margin: 25px 10px 10px 10px;
}

h4 {
    color: #874d63;
    text-transform: uppercase;
    font-size: 1.1em;
    font-weight: bold;
    text-align: right;
    margin-top: 40px;
}

p {
	margin: 10px;
}

a, a:hover, a:visited, a:link, a:active {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

form label {
    width: 20%;
    min-width: 250px;
    display: inline-block;
    text-align: right;
    margin: 5px;
    padding: 10px;
}

form input, form select {
    margin: 5px 0;
    min-width: auto;
}

textarea, textarea:focus, input, input:focus, button, button:focus {
    outline: none !important;
    box-shadow: none !important;
}

h1 {
	padding-top: 20px;
}

h1, h2 {
	color: #874d63;
}

.jumbotron {
	margin-bottom: 0;
	padding-bottom: 10px;
}

.bg-dark {
    background-color: #874d63 !important;
}

.btn-primary, .page-item.active .page-link {
    color: #fff;
    background-color: #c98573;
    border-color: #c98573;
}

.btn-primary:hover, .page-item.active .page-link:hover {
    background-color: #874d63;
    border-color: #874d63;
}

.jumbotron {
    background-color: transparent;
}

textarea.form-control {
    margin-bottom: 5px;
}

.messages {
	margin-top: -15px;
    margin-bottom: 0;
}

.errors {
    height: 13px;
    margin-top: 0px;
}

.errors span {
    color: #f57f6c;
    font-size: .75em;
	line-height: 1;
	display: block;
}

.error {
  border-color: red;
  background: #FDD;
}

.error:focus {
  outline-color: #F99;
}

.valid {
  border-color: #5A5;
  background: #EFE;
}

.valid:focus {
  outline-color: #8E8;
}

.button {
	max-width: 300px;
    width: 100%;
}

.table .thead-light th {
	background-color: #874d63;
    border-color: #874d63;
    color: white;
    font-weight: normal;
    border: none;
}

.form-check-label {
    margin-bottom: 0;
    min-width: 100px;
    text-align: left;
}

.form-check-inline .form-check-input {
	margin-top: 12px;
}

.table tbody tr:hover td, .table tbody tr:hover th {
    background-color: #f0e6ea;
}

.page-link:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.page-link:hover {
    color: #333;
    background-color: #f0e6ea;
    border-color: #f0e6ea;
}

.simple-button {
	font-weight: 300;
    min-width: 150px;
    font-size: 1em;
    color: white !important;
}

.form-control {
	font-size: 0.95em;
}

.input-group-text {
	font-size: 0.9rem;
}

#topic-list {
	font-weight: 300;
	margin-bottom: 25px;
}

#headline .col-md-4 {
	line-height: 65px;
    padding-top: 10px;
}

#login {
	background: #f0e6ea;
    border-radius: 5px;
    padding: 20px;
}

#input-addon-left {
	background-color: white;
    padding-right: 0;
}

#input-addon-right {
	margin-top: 0;
    border-left: none;
    padding-left: 0;
}

@media (max-width: 767px) {
	label.text-right, h4 {
		font-weight: bold;
		text-align: left !important; 
	}
	
	h4, .row {
		margin-top: 20px;
	}
}