<!DOCTYPE html>
<html lang="hu">
<head th:replace="fragments/head :: head('témakereső - ELTE IK')"></head>

<body>

<header th:replace="fragments/header :: header"></header>

<main id="admin-settings" class="container" role="main" style="display: none;">

    <div th:replace="fragments/notifications :: notifications"></div>

    <h2 class="text-center mb-4">sablonok</h2>

    <div class="row mt-4" v-if="parameters.bscTopicForm">
        <label class="control-label col-md-3 text-right">BSc. témabejelentő</label>
        <div class="col-md-9"><a :href="getFileLink(parameters.bscTopicForm)">jelenlegi dokumentum</a></div>
    </div>
    <div class="form-group row">
        <label class="control-label col-md-3 file-uploader-label">új feltöltése</label>
        <div class="col-md-7">
            <input type="file" class="form-control" id="bsc_topic_form" v-on:change="saveForm('bsc_topic')" ref="file"/>
        </div>
    </div>

    <div class="row mt-4" v-if="parameters.mscTopicForm">
        <label class="control-label col-md-3 text-right">MSc. témabejelentő</label>
        <div class="col-md-9"><a :href="getFileLink(parameters.mscTopicForm)">jelenlegi dokumentum</a></div>
    </div>
    <div class="form-group row">
        <label class="control-label col-md-3 file-uploader-label">új feltöltése</label>
        <div class="col-md-7">
            <input type="file" class="form-control" id="msc_topic_form" v-on:change="saveForm('msc_topic')" ref="file"/>
        </div>
    </div>

    <div class="row mt-4" v-if="parameters.bscConsultationForm">
        <label class="control-label col-md-3 text-right">BSc. konzultációs lap</label>
        <div class="col-md-9"><a :href="getFileLink(parameters.bscTopicForm)">jelenlegi dokumentum</a></div>
    </div>
    <div class="form-group row">
        <label class="control-label col-md-3 file-uploader-label">új feltöltése</label>
        <div class="col-md-7">
            <input type="file" class="form-control" id="bsc_consultation_form" v-on:change="saveForm('bsc_consultation')" ref="file"/>
        </div>
    </div>

    <div class="row mt-4" v-if="parameters.mscConsultationForm">
        <label class="control-label col-md-3 text-right">MSc. konzultációs lap</label>
        <div class="col-md-9"><a :href="getFileLink(parameters.mscConsultationForm)">jelenlegi dokumentum</a></div>
    </div>
    <div class="form-group row">
        <label class="control-label col-md-3 file-uploader-label">új feltöltése</label>
        <div class="col-md-7">
            <input type="file" class="form-control" id="msc_consultation_form" v-on:change="saveForm('msc_consultation')" ref="file"/>
        </div>
    </div>

    <form v-if="supervisors.length > 0">
        <h2 class="text-center mt-5 mb-4">hitelesítés</h2>
        <div class="table-responsive">
            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th>#</th>
                    <th>név</th>
                    <th>beosztás</th>
                    <th>munkahely</th>
                    <th>szoba</th>
                    <th>fogadóórák</th>
                    <th>e-mail</th>
                    <th>telefon</th>
                    <th>honlap</th>
                    <th>műveletek</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="supervisor in supervisors">
                    <td>{{supervisor.id}}</td>
                    <td>{{supervisor.name}}</td>
                    <td>{{supervisor.title}}</td>
                    <td>{{supervisor.workplace}}</td>
                    <td>{{supervisor.room}}</td>
                    <td>{{supervisor.officeHours}}</td>
                    <td>{{supervisor.email}}</td>
                    <td>{{supervisor.phone}}</td>
                    <td>{{supervisor.website}}</td>
                    <td class="text-right">
                        <span class="clickable" v-on:click="confirm(supervisor)" title="hitelesít"><i class="fas fa-check"></i></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </form>

    <h2 class="text-center mt-5 mb-4">kategóriák</h2>
    <div class="table-responsive">
        <table class="table">
            <thead class="thead-light">
            <tr>
                <th>#</th>
                <th>megnevezés</th>
                <th  style="width: 90px">műveletek</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(category, index) in categories" :key="index">
                <td>{{category.id}}</td>
                <td class="td-input"><input type="text" class="form-control" v-model:value="category.name"/></td>
                <td class="text-right">
                    <span class="clickable" v-on:click="saveCategory(category)" title="mentés"><i class="fas fa-save"></i></span>
                </td>
            </tr>
            <tr>
                <td></td>
                <td class="td-input"><input type="text" class="form-control" v-model:value="newCategory.name"/></td>
                <td class="text-right">
                    <span class="clickable" v-on:click="saveCategory(newCategory)" title="mentés"><i class="fas fa-save"></i></span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <h2 class="text-center mt-5 mb-4">tanszékek</h2>
    <div class="table-responsive">
        <table class="table">
            <thead class="thead-light">
            <tr>
                <th>#</th>
                <th>megnevezés</th>
                <th style="width: 90px">műveletek</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(department, index) in departments" :key="index">
                <td>{{department.id}}</td>
                <td class="td-input"><input type="text" class="form-control" v-model:value="department.name"/></td>
                <td class="text-right">
                    <span class="clickable" v-on:click="saveDepartment(department)" title="mentés"><i class="fas fa-save"></i></span>
                </td>
            </tr>
            <tr>
                <td></td>
                <td class="td-input"><input type="text" class="form-control" v-model:value="newDepartment.name"/></td>
                <td class="text-right">
                    <span class="clickable" v-on:click="saveDepartment(newDepartment)" title="mentés"><i class="fas fa-save"></i></span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <h2 class="text-center mt-5 mb-4">paraméterek</h2>
    <div class="table-responsive">
        <table class="table">
            <thead class="thead-light">
            <tr>
                <th>#</th>
                <th>leírás</th>
                <th>érték</th>
                <th style="width: 90px">műveletek</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="(parameter, index) in generalParameters" :key="index">
                <td>{{parameter.identifier}}</td>
                <td>{{parameter.description}}</td>
                <td class="td-input"><input type="number" class="form-control" v-model:value="parameter.value"/></td>
                <td class="text-right">
                    <span class="clickable" v-on:click="saveParameter(parameter)" title="mentés"><i class="fas fa-save"></i></span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

</main>

<div th:replace="fragments/scripts :: scripts"></div>

<footer th:replace="fragments/footer :: footer"></footer>

<script>

  /*<![CDATA[*/

  new Vue({
    el: '#admin-settings',
    data: {
      parameters: {
        bscTopicForm: null,
        mscTopicForm: null,
        bscConsultationForm: null,
        mscConsultationForm: null
      },

      supervisors: [],
      generalParameters: [],

      categories: [],
      newCategory: {
        name: null
      },

      departments: [],
      newDepartment: {
        name: null
      },

      messages: [],
      errors: []
    },
    created: function () {
      // collecting params
      let values = ["bscTopicForm", "mscTopicForm", "bscConsultationForm", "mscConsultationForm"]
      let promises = [] // collecting all promises
      for (let i = 0; i < values.length; i++) {
        promises.push(this.getParameterValue(values[i].replace(/([A-Z])/g, '_$1').toUpperCase()))
      }

      // after everything arrived, loop through the responses and bind to the data
      axios.all(promises).then(function (response) {
        for (let i = 0; i < response.length; i++) {
          this.parameters[values[i]] = response[i].data
        }
      }.bind(this))

      this.getUnconfirmedSupervisors()
      this.getCategories()
      this.getDepartments()
      this.getParameters()

    },
    mounted: function () {
      setDisplay('#admin-settings', 'block') // it doesn't show up by default
    },
    methods: {
      showError: function (text) {
        this.errors.push({ text: text})
      },
      showMessage: function (text) {
        let id = 'message-' + new Date().getTime()
        this.messages.push({ id: id, text: text})
        hideMessage(id)
      },
      getUnconfirmedSupervisors: function () {
        axios.get(`${contextPath}api/supervisors/unconfirmed`)
          .then(function (response) {
            this.supervisors = response.data
          }.bind(this))
          .catch(function (error) {
            console.log(error)
            this.showError(error.response.data.error)
          }.bind(this))
      },
      getCategories: function () {
        axios.get(`${contextPath}api/constants/categories`)
          .then(function (response) {
            this.categories = response.data
          }.bind(this))
          .catch(function (error) {
            console.log(error)
            this.showError(error.response.data.error)
          }.bind(this))
      },
      getDepartments: function () {
        axios.get(`${contextPath}api/constants/departments`)
          .then(function (response) {
            this.departments = response.data
          }.bind(this))
          .catch(function (error) {
            console.log(error)
            this.showError(error.response.data.error)
          }.bind(this))
      },
      getParameters: function () {
        axios.get(`${contextPath}api/parameters`)
          .then(function (response) {
            this.generalParameters = response.data
          }.bind(this))
          .catch(function (error) {
            console.log(error)
            this.showError(error.response.data.error)
          }.bind(this))
      },
      getParameterValue: function (identifier) {
        return axios.get(`${contextPath}api/parameters/${identifier}`)
      },
      getFileLink: function (id) {
        return `${contextPath}api/files/${id}`
      },
      confirm: function (supervisor) {
        axios.put(`${contextPath}api/supervisors/${supervisor.id}/confirm`)
          .then(function () {
            this.getUnconfirmedSupervisors()
            this.showMessage()
          }.bind(this))
          .catch(function (error) {
            console.log(error)
            this.showError(error.response.data.error)
          }.bind(this))
      },
      saveCategory: function (category) {
        if (!category.name || category.name.trim() === "") {
          this.showError("Nem lehet üres megnevezés")
          return
        }
        let promise = null
        if (category.id) {
          promise = axios.put(`${contextPath}api/constants/categories`, category)
        } else {
          promise = axios.post(`${contextPath}api/constants/categories`, category)
        }
        promise
          .then(function (response) {
            console.log(response)
            this.showMessage()
            this.getCategories()
            this.newCategory.name = null
          }.bind(this))
          .catch(function (error) {
            console.log(error)
            this.showError(error.response.data.error)
          }.bind(this))
      },
      saveDepartment: function (department) {
        if (!department.name || department.name.trim() === "") {
          this.showError("Nem lehet üres megnevezés")
          return
        }
        let promise = null
        if (department.id) {
          promise = axios.put(`${contextPath}api/constants/departments`, department)
        } else {
          promise = axios.post(`${contextPath}api/constants/departments`, department)
        }
        promise
          .then(function (response) {
            console.log(response)
            this.showMessage()
            this.getDepartments()
            this.newDepartment.name = null
          }.bind(this))
          .catch(function (error) {
            console.log(error)
            this.showError(error.response.data.error)
          }.bind(this))
      },
      saveParameter: function (parameter) {
        if (!parameter.value) {
          this.showError("Nem lehet üres érték")
          return
        }
        axios.put(`${contextPath}api/parameters/${parameter.identifier}`, {value: parameter.value})
          .then(function (response) {
            console.log(response)
            this.showMessage()
            this.getParameters()
          }.bind(this))
          .catch(function (error) {
            console.log(error)
            this.showError(error.response.data.error)
          }.bind(this))
      },
      saveForm: function (type) {
        let data = new FormData()
        let currentFile = $(`#${type}_form`)[0]
        console.log(currentFile)
        if (currentFile && currentFile.files[0] != null) {
          data.append('file', currentFile.files[0])
          axios.put(`${contextPath}api/parameters/forms/${type.toUpperCase()}_FORM`, data)
            .then(function (response) {
              console.log(response.data)
              this.showMessage()
              redirect(`${contextPath}settings`)
            }.bind(this))
            .catch(function (error) {
              console.log(error)
              this.showError(error.response.data.error)
            }.bind(this))
        }
      }
    }
  })
  /*]]>*/
</script>

</body>
</html>
