<!DOCTYPE html>
<html lang="hu">
<head th:replace="fragments/head :: head('témakereső - ELTE IK')"></head>

<body>

<header th:replace="fragments/header :: header"></header>

<main id="form-me" class="container" role="main" style="display: none;">

    <div th:replace="fragments/notifications :: notifications"></div>

    <h2 class="text-center mb-4">adataim szerkesztése</h2>

    <form>
        <div class="row">
            <div class="col-md-3"><h4>felhasználó</h4></div>
        </div>

        <div class="form-group row">
            <label class="col-md-3 text-right col-form-label">név</label>
            <div class="col-md-4">
                <input type="text" class="form-control"
                       v-model="account.name"
                       :class="{error: $v.account.name.$error}"/>
            </div>
        </div>
        <div class="form-group row messages" v-if="$v.account.name.$dirty &amp;&amp; !$v.account.name.required">
            <label class="col-md-3 col-form-label"></label>
            <div class="col-md-7 errors">
                <span>A mező kitöltése kötelező!</span>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-3 text-right col-form-label">e-mail cím</label>
            <div class="col-md-4">
                <input type="email" class="form-control"
                       v-model="account.email"
                       :class="{error: $v.account.email.$error}"/>
            </div>
        </div>
        <div class="form-group row messages" v-if="$v.account.email.$dirty &amp;&amp; !$v.account.email.required">
            <label class="col-md-3 col-form-label"></label>
            <div class="col-md-7 errors">
                <span>A mező kitöltése kötelező!</span>
            </div>
        </div>
        <div class="form-group row messages" v-if="$v.account.email.$dirty &amp;&amp; !$v.account.email.email">
            <label class="col-md-3 col-form-label"></label>
            <div class="col-md-7 errors">
                <span>Nem megfelelő formátum!</span>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-3 col-form-label"></label>
            <div class="col-md-7">
                <input type="button" class="btn btn-primary simple-button" v-on:click="saveAccount" value="mentés"/>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3"><h4>jelszó módosítása</h4></div>
        </div>

        <!--<div class="form-group row">-->
            <!--<label class="col-md-3 text-right col-form-label">jelenlegi jelszó</label>-->
            <!--<div class="col-md-4">-->
                <!--<input type="password" class="form-control"-->
                       <!--v-model="password.current"-->
                       <!--:class="{error: $v.password.current.$error}"/>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="form-group row messages" v-if="$v.password.current.$dirty &amp;&amp; !$v.password.current.required">-->
            <!--<label class="col-md-3 col-form-label"></label>-->
            <!--<div class="col-md-7 errors">-->
                <!--<span>A mező kitöltése kötelező!</span>-->
            <!--</div>-->
        <!--</div>-->

        <div class="form-group row">
            <label class="col-md-3 text-right col-form-label">új jelszó</label>
            <div class="col-md-4">
                <input type="password" class="form-control" autocomplete="new-password"
                       v-model="password.password"
                       :class="{error: $v.password.password.$error || !$v.password.passwordsAreSame.passwordsAreSame}"/>
            </div>
        </div>
        <div class="form-group row messages" v-if="$v.password.password.$dirty &amp;&amp; !$v.password.password.required">
            <label class="col-md-3 col-form-label"></label>
            <div class="col-md-7 errors">
                <span>A mező kitöltése kötelező!</span>
            </div>
        </div>
        <div class="form-group row messages"
             v-if="$v.password.password.$dirty &amp;&amp; !$v.password.password.minLength">
            <label class="col-md-3 col-form-label"></label>
            <div class="col-md-7 errors">
                <span>Minimum 8 karakter hosszú jelszó szükséges!</span>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-3 text-right col-form-label">új jelszó még egyszer</label>
            <div class="col-md-4">
                <input type="password" class="form-control" autocomplete="new-password"
                       v-model="password.password2"
                       :class="{error: $v.password.password2.$error || !$v.password.passwordsAreSame.passwordsAreSame}"/>
            </div>
        </div>
        <div class="form-group row messages"
             v-if="$v.password.password2.$dirty &amp;&amp; !$v.password.password2.required">
            <label class="col-md-3 col-form-label"></label>
            <div class="col-md-7 errors">
                <span>A mező kitöltése kötelező!</span>
            </div>
        </div>
        <div class="form-group row messages"
             v-if="$v.password.password2.$dirty &amp;&amp; !$v.password.password2.minLength">
            <label class="col-md-3 col-form-label"></label>
            <div class="col-md-7 errors">
                <span>Minimum 8 karakter hosszú jelszó szükséges!</span>
            </div>
        </div>
        <div class="form-group row messages"
             v-if="$v.password.password.$dirty &amp;&amp; $v.password.password2.$dirty &amp;&amp; $v.password.password.minLength &amp;&amp; $v.password.password2.minLength &amp;&amp; !$v.password.passwordsAreSame.passwordsAreSame">
            <label class="col-md-3 col-form-label"></label>
            <div class="col-md-7 errors">
                <span>A jelszavak nem egyeznek!</span>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-3 col-form-label"></label>
            <div class="col-md-7">
                <input type="button" class="btn btn-primary simple-button" v-on:click="savePassword" value="mentés"/>
            </div>
        </div>

        <div v-if="supervisor.id">

            <div class="row">
                <div class="col-md-3"><h4>témavezetői adatok</h4></div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 text-right col-form-label">beosztás</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" v-model="supervisor.title"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 text-right col-form-label">tanszék</label>
                <div class="col-md-4">
                    <select class="form-control" v-model="supervisor.department">
                        <option :value="null"></option>
                        <option v-for="department in departments" :value="department">{{ department.name }}</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 text-right col-form-label">munkahely</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" v-model="supervisor.workplace"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 text-right col-form-label">telefon</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" v-model="supervisor.phone"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 text-right col-form-label">honlap</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" v-model="supervisor.website"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 text-right col-form-label">szoba</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" v-model="supervisor.room"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 text-right col-form-label">fogadóórák</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" v-model="supervisor.officeHours"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 text-right col-form-label">külsős?</label>
                <div class="col-md-4">
                    <input type="checkbox" value="true" v-model="supervisor.external" id="is-external"/>
                    <label for="is-external"></label>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 col-form-label"></label>
                <div class="col-md-7">
                    <input type="button" class="btn btn-primary simple-button" v-on:click="saveSupervisor" value="mentés"/>
                </div>
            </div>

        </div>

        <div v-else-if="student.id">

            <div class="row">
                <div class="col-md-3"><h4>hallgatói adatok</h4></div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 text-right col-form-label">neptun kód</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" v-model="student.code"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 text-right col-form-label">tagozat</label>
                <div class="col-md-4">
                    <select class="form-control" v-model="student.training">
                        <option disabled="true" selected='true'></option>
                        <option value="CORRESPONDANCE">levelező tagozat</option>
                        <option value="FULL_TIME">nappali tagozat</option>
                        <option value="PART_TIME">esti tagozat</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 col-form-label"></label>
                <div class="col-md-7">
                    <input type="button" class="btn btn-primary simple-button" v-on:click="saveStudent" value="mentés"/>
                </div>
            </div>
        </div>
    </form>
</main>

<div th:replace="fragments/scripts :: scripts"></div>

<footer th:replace="fragments/footer :: footer"></footer>

<script>

  /*<![CDATA[*/

  Vue.use(window.vuelidate.default)
  let required = window.validators.required
  let minLength = window.validators.minLength
  let email = window.validators.email

  new Vue({
    el: '#form-me',
    data: {
      accountId: null,

      account: {
        name: null,
        email: null
      },

      password: {
        // current: null,
        password: null,
        password2: null
      },

      supervisor: {
        id: null,
        title: null,
        department: null,
        workplace: null,
        phone: null,
        website: null,
        room: null,
        officeHours: null,
        external: null
      },

      student: {
        id: null,
        code: null,
        training: null
      },

      departments: [],

      messages: [],
      errors: []
    },
    validations: {
      password: {
        // current: {required: required},
        password: {required: required, minLength: minLength(8)},
        password2: {required: required, minLength: minLength(8)},
        passwordsAreSame: {
          passwordsAreSame: function () {
            return this.account.password === this.account.password2
          }
        }
      },
      account: {
        name: {required: required},
        email: {required: required, email: email}
      }
    },
    created: function () {
      this.getAccount()
      this.getSupervisor()
      this.getStudent()
    },
    mounted: function () {
      setDisplay('#form-me', 'block') // it doesn't show up by default
    },
    methods: {
      showError: function (text) {
        this.errors.push({ text: text})
      },
      showMessage: function (text) {
        let id = 'message-' + new Date().getTime()
        this.messages.push({ id: id, text: text})
        hideMessage(id)
      },
      getAccount: function () {
        axios.get(`${contextPath}api/me`)
          .then(function (response) {
            this.accountId = response.data.id
            this.account.name = response.data.name
            this.account.email = response.data.email
          }.bind(this))
      },
      getSupervisor: function () {
        axios.get(`${contextPath}api/me/supervisor/`)
          .then(function (response) {
            this.supervisor = response.data
            this.getDepartments()
            delete this.supervisor.account
          }.bind(this))
          .catch(function (error) {
            console.log(error)
          }.bind(this))
      },
      getStudent: function () {
        axios.get(`${contextPath}api/me/student/`)
          .then(function (response) {
            this.student = response.data
            if (this.student.training) this.student.training = this.student.training.id
            delete this.student.account
          }.bind(this))
          .catch(function (error) {
            console.log(error)
          }.bind(this))
      },
      getDepartments: function () {
        axios.get(`${contextPath}api/constants/departments`)
          .then(function (response) {
            this.departments = response.data
          }.bind(this))
          .catch(function (error) {
            console.log(error)
            this.showError(error.response.data.error)
          }.bind(this))
      },
      clearPassword: function() {
        this.password.current = null
        this.password.password = null
        this.password.password2 = null
        this.$v.password.$reset()
      },
      saveAccount: function () {
        axios.put(`${contextPath}api/accounts/${this.accountId}`, this.account)
          .then(function (response) {
            this.getAccount()
            this.showMessage()
          }.bind(this))
          .catch(function (error) {
            console.log(error)
            this.showError(error.response.data.error)
          }.bind(this))
      },
      savePassword: function () {
        axios.put(`${contextPath}api/accounts/${this.accountId}/password`, this.password)
          .then(function (response) {
            this.showMessage()
            this.clearPassword()
          }.bind(this))
          .catch(function (error) {
            console.log(error)
            this.showError(error.response.data.error)
          }.bind(this))
      },
      saveSupervisor: function () {
        axios.put(`${contextPath}api/supervisors/${this.supervisor.id}`, this.supervisor)
          .then(function (response) {
            this.getSupervisor()
            this.showMessage()
          }.bind(this))
          .catch(function (error) {
            console.log(error)
            this.showError(error.response.data.error)
          }.bind(this))
      },
      saveStudent: function () {
        axios.put(`${contextPath}api/students/${this.student.id}`, this.student)
          .then(function (response) {
            this.getStudent()
            this.showMessage()
          }.bind(this))
          .catch(function (error) {
            console.log(error)
            this.showError(error.response.data.error)
          }.bind(this))
      }
    }
  })
  /*]]>*/
</script>

</body>
</html>
