<!DOCTYPE html>
<html lang="hu">
<head th:replace="fragments/head :: head('témakereső - ELTE IK')"></head>

<body>

    <span hidden="" id="username" sec:authentication="principal.username"></span>

    <header th:replace="fragments/header :: header"></header>

    <main id="form-topic" class="container" role="main" style="display: none;">

        <div class="row">
            <div class="col-md-8">
                   <h1>adataim szerkesztése</h1>
            </div>
        </div>
        <form>
            <div v-if="account &amp;&amp; !supervisor">
                <div class="form-group row">
                    <label class="col-md-3 text-right col-form-label">név</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control"
                        v-model="account.name"/>
                    </div>
                </div>
            </div>

            <div v-if="account &amp;&amp; supervisor">
                <div class="form-group row">
                    <label class="col-md-3 text-right col-form-label">e-mail cím</label>
                    <div class="col-md-4">
                        <input type="email" class="form-control"
                        v-model="account.email"/>
                    </div>
                </div>
            </div>
            
            <div class="form-group row">
                <label class="col-md-3 text-right col-form-label">cím</label>
                <div class="col-md-7">
                    <input type="text" class="form-control"
                    v-model="topic.name"
                    v-bind:class="{error: $v.topic.name.$error, valid: !$v.topic.name.$invalid}"/>
                </div>
            </div>
            <div class="form-group row messages" v-if="$v.topic.name.$dirty &amp;&amp; !$v.topic.name.required">
                <label class="col-md-3 col-form-label"></label>
                <div class="col-md-7 errors">
                    <span>A mező kitöltése kötelező!</span>
                </div>
            </div>
            
            <div class="form-group row">
                <label class="col-md-3 text-right col-form-label">típus</label>
                <div class="col-md-4">
                    <select class="form-control"
                        v-model="topic.type"
                        v-bind:class="{error: $v.topic.type.$error, valid: !$v.topic.type.$invalid}">
                      <option disabled="true" selected='true'></option>
                      <option v-for="type in values.types" v-bind:value="type.id">{{ type.name }}</option>
                    </select>
                </div>
            </div>
            <div class="form-group row messages" v-if="$v.topic.type.$dirty &amp;&amp; !$v.topic.type.required">
                <label class="col-md-3 col-form-label"></label>
                <div class="col-md-7 errors">
                    <span>A mező kitöltése kötelező!</span>
                </div>
            </div>
            
            <div class="form-group row">
                <label class="col-md-3 text-right col-form-label">kategória</label>
                <div class="col-md-5">
                    <select class="form-control"
                        v-model="topic.category"
                        v-bind:class="{error: $v.topic.category.$error, valid: !$v.topic.category.$invalid}">
                      <option disabled="true" selected='true'></option>
                      <option v-for="category in values.categories" v-bind:value="category">{{ category.name }}</option>
                    </select>
                </div>
            </div>
            <div class="form-group row messages" v-if="$v.topic.category.$dirty &amp;&amp; !$v.topic.category.required">
                <label class="col-md-3 col-form-label"></label>
                <div class="col-md-7 errors">
                    <span>A mező kitöltése kötelező!</span>
                </div>
            </div>
            
            <div class="form-group row">
                <label class="col-md-3 text-right col-form-label">leírás</label>
                <div class="col-md-7">
                    <textarea class="form-control"
                        v-model="topic.description"
                        v-bind:class="{error: $v.topic.description.$error, valid: !$v.topic.description.$invalid}"></textarea>
                </div>
            </div>
            <div class="form-group row messages" v-if="$v.topic.description.$dirty &amp;&amp; !$v.topic.description.required">
                <label class="col-md-3 col-form-label"></label>
                <div class="col-md-7 errors">
                    <span>A mező kitöltése kötelező!</span>
                </div>
            </div>            
            
            <div class="form-group row" v-for="(attachment, index) in topic.attachments">
                <label class="col-md-3 text-right col-form-label">{{ index == 0 ? 'mellékletek' : ''}}</label>
                <div class="controls col-md-8">
                    <a v-bind:href="getFileLink(attachment)">{{attachment.name}}</a>
                </div>
                <div class="controls col-md-1">
                    <span v-on:click="removeAttachment(index)"><i class="fas fa-times"></i></span>
                </div>
            </div>
            <div class="form-group row" v-for="(file, index) in files">
                <label class="control-label col-md-3">{{ index == 0 ? 'új mellékletek' : ''}}</label>
                <div class="controls col-md-7">
                    <input type="file" class="form-control" v-bind:id="'file_' + index"/>
                </div>
                <div class="controls col-md-1">
                    <span v-if="files.length > 1" v-on:click="removeFile(index)"><i class="fas fa-times"></i></span>
                    <span v-on:click="addFile"><i class="fas fa-plus"></i></span>
                </div>
            </div>
            
            <div class="form-group row">
                <label class="col-md-3 col-form-label"></label>
                <div class="col-md-7">
                    <input type="button" class="btn btn-primary simple-button" v-on:click="saveTopic" value="mentés"/>
                </div>
            </div>
        </form>
    </main>

    <div th:replace="fragments/scripts :: scripts"></div>

    <footer th:replace="fragments/footer :: footer"></footer>

    <script>

        /*<![CDATA[*/

        Vue.use(window.vuelidate.default);
        var required = window.validators.required;

        var app = new Vue({
            el: '#form-topic',
            data: {
                topic: {
                    name: null,
                    type: null,
                    category: null,
                    description: null,
                    attachments : []
                },

                values: {
                    categories: [],
                    types: []
                },

                files: [{}]

            //     messages: [],
            //     errors: []
            },
            validations: {
                topic: {
                    name: { required: required },
                    type: { required: required },
                    category: { required: required },
                    description: { required: required }
                }
            },
            created : function() {
                var self = this;

                // collecting params
                var values = ["categories", "types"];
                var promises = []; // collecting all promises
                for (var i = 0; i < values.length; i++) {
                    promises.push(this.getValues(values[i].toLowerCase()));
                };
                // after everything arrived, loop through the responses and bind to the data
                axios.all(promises).then(function (response) {
                    for (var i = 0; i < response.length; i++) {
                        self.values[values[i]] = response[i].data;
                    }
                });

                // if we edit a topic
                if(self.getTopicId() != -1) {
                    self.getTopic();
                }

            },
            mounted : function() {
                setDisplay('#form-topic', 'block'); // it doesn't show up by default
            },
            methods: {
                getTopic: function() {
                    var self = this;
                    axios.get(contextPath + 'api/topics/' + self.getTopicId())
                        .then(function(response) {
                            self.topic = response.data;
                            self.topic.type = self.topic.type.id;
                        });
                },
                getValues: function(name) {
                    return axios.get(contextPath + 'api/constants/' + name);
                },
                getTopicId: function() {
                    let topic = $('#topic')[0].innerHTML;
                    return (topic == '' ? -1 : topic);
                },
                getSupervisorId: function() {    // TODO
                    return 1;
                    //return $('#supervisor')[0].innerHTML
                },
                getFileLink: function (attachment) {
                    return contextPath + 'api/files/' + attachment.fileId;
                },
                removeAttachment: function (index) {
                    this.topic.attachments.splice(index, 1);
                },
                removeFile: function (index) {
                    this.files.splice(index, 1);
                },
                addFile: function() {
                    this.files.push({});
                },
                saveTopic: function() {
                    var self = this;

                    self.$v.topic.$touch();
                      if(self.$v.topic.$error) return;

                    // sending files first
                    var promises = []; // collecting all promises
                    for (var i = 0; i < self.files.length; i++) {
                        var data = new FormData();
                        var currentFile = $('#file_' + i)[0];
                        if (currentFile && currentFile.files[0] != null) {
                            data.append('file', currentFile.files[0]);
                            promises.push(axios.post(contextPath + 'api/files', data));
                        }
                    }
                    // after everything arrived, loop through the responses and bind to the data
                    axios.all(promises)
                        .then(function (response) {
                            console.log(response);
                             for (var i = 0; i < response.length; i++) {
                                 self.topic.attachments.push({name: response[i].data.name, fileId: response[i].data.fileId});
                            }
                            self.files = [{}];

                            // if files are saved send topic
                            console.log(self.topic);
                            axios.post(contextPath + 'api/supervisors/' + self.getSupervisorId() + '/topics', self.topic, apiHeader )
                                .then(function(response) {
                                    console.log(response);
                                    redirect(contextPath + 'topics/' + response.data.id);
                                });

                        });
                }
            }
        });
        /*]]>*/
    </script>

</body>
</html>
