<!DOCTYPE html>
<html lang="hu">
<head th:replace="fragments/head :: head('témakereső - ELTE IK')"></head>

<body>

    <header th:replace="fragments/header :: header"></header>

    <main id="search" class="container" role="main" style="display: none;">
        <div class="jumbotron jumbotron-fluid">
            <img th:src="@{/img/elte-ik.png}"/>
            <h1 class="display-4 text-center"><i class="fas fa-search"></i> témakereső</h1>
            <p class="lead text-center">Az oktatók, konzulensek által megadott
                témák között szakdolgozatodhoz, dimplomamunkádhoz illetve
                kutatási projektedhez kereshetsz témákat.</p>
        </div>

        <form>
            <div class="form-row justify-content-center index-form-row">
                <div class="col-md-4">
                    <label>típus</label>
                    <select class="form-control" v-model="filters.type">
                        <option value=""></option>
                        <option v-for="type in values.types" :value="type.id">{{ type.name }}</option>
                    </select>
                </div>
                <div class="col-md-4">
                    <label>kategória</label>
                    <select class="form-control" v-model="filters.category">
                        <option :value="null"></option>
                        <option v-for="category in values.categories" :value="category.id">{{ category.name }}</option>
                    </select>
                </div>
            </div>
            <div class="form-row index-form-row">
                <div class="col-md-4">
                    <label>cím</label>
                    <input type="text" class="form-control" v-model="filters.name"/>
                </div>
                <div class="col-md-4">
                    <label>leírás</label>
                    <input type="text" class="form-control" v-model="filters.description"/>
                </div>
                <div class="col-md-4">
                    <label>témavezető</label>
                    <!--<select class="form-control" v-model="filters.supervisor">-->
                      <!--<option :value="null"></option>-->
                      <!--<option v-for="supervisor in values.supervisors" :value="supervisor.id">{{ supervisor.name }}</option>-->
                    <!--</select>-->
                    <autocomplete v-model="filters.supervisor" value-field="id" text-field="name" :options="values.supervisors"></autocomplete>
                </div>
            </div>
            <div class="form-row justify-content-center">
                <div v-for="status in values.statuses" class="form-check form-check-inline">
                    <input class="form-check-input"  :id="'radio' + status.id" name="status" type="radio" v-model="filters.status" :value="status.id"/>
                    <label class="form-check-label" :for="'radio' + status.id">{{status.name}}</label>
                </div>
            </div>
            <div class="form-row justify-content-center" style="margin-top: 20px;">
                <input type="button" class="btn btn-primary button" v-on:click="clearFilters" value="szűrők törlése" style="margin: 5px 10px; font-weight:300; background: transparent; color: #c98573;"></input>
                <input type="button" class="btn btn-primary button" v-on:click="getTopics(0, 10)" value="keresés" style="margin: 5px 10px; font-weight:300"></input>
            </div>

        </form>

        <h2 class="text-center" v-if="topics" id="topic-list-title">témák</h2>

        <div class="table-responsive" v-if="topics &amp;&amp; topics.content &amp;&amp; topics.content.length > 0">
            <table class="table table-hover" >
                <thead class="thead-light">
                    <tr>
                        <th>#</th>
                        <th v-on:click="getTopicsWithSort('name')">cím
                            <span v-show="isAscending('name')"><i class="fas fa-caret-down"></i></span>
                               <span v-show="isDescending('name')"><i class="fas fa-caret-up"></i></span>
                        </th>
                        <th v-on:click="getTopicsWithSort('supervisor')">témavezető
                            <span v-show="isAscending('supervisor')"><i class="fas fa-caret-down"></i></span>
                               <span v-show="isDescending('supervisor')"><i class="fas fa-caret-up"></i></span>
                        </th>
                        <th v-on:click="getTopicsWithSort('category')">kategória
                            <span v-show="isAscending('category')"><i class="fas fa-caret-down"></i></span>
                               <span v-show="isDescending('category')"><i class="fas fa-caret-up"></i></span>
                        </th>
                        <th v-on:click="getTopicsWithSort('type')">típus
                            <span v-show="isAscending('type')"><i class="fas fa-caret-down"></i></span>
                            <span v-show="isDescending('type')"><i class="fas fa-caret-up"></i></span>
                        </th>
                        <th v-on:click="getTopicsWithSort('status')">állapot
                            <span v-show="isAscending('status')"><i class="fas fa-caret-down"></i></span>
                               <span v-show="isDescending('status')"><i class="fas fa-caret-up"></i></span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="topic in topics.content">
                        <td>{{topic.id}}</td>
                        <td><a :href="getTopicLink(topic)">{{topic.name}}</a></td>
                        <td>{{topic.supervisor}}</td>
                        <td>{{topic.category}}</td>
                        <td>{{topic.type.name}}</td>
                        <td>{{topic.status.name}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p v-else-if="topics">A keresés nem eredményezett egy találatot sem, próbálkozzon más szűrőfeltételek megadásával.</p>

        <nav v-if="topics &amp;&amp; topics.content &amp;&amp; topics.content.length > 0">
            <ul class="pagination justify-content-center" style="margin: 10px 0;">
                <li class="page-item" v-on:click="getTopics(0, topics.size, topics.sort)" :class="{ disabled: topics.first }"><a class="page-link" href="#topic-list-title">első</a></li>
                <li class="page-item" v-on:click="getTopics(topics.number - 1, topics.size, topics.sort)" :class="{ disabled: topics.first }"><a class="page-link" href="#topic-list-title">előző</a></li>
                <li class="page-item" v-if="topics.number - 1 &#62; 0" v-on:click="getTopics(topics.number - 2, topics.size, topics.sort)"><a class="page-link" href="#topic-list-title">{{topics.number - 1}}</a></li>
                <li class="page-item" v-if="topics.number &#62; 0" v-on:click="getTopics(topics.number - 1, topics.size, topics.sort)"><a class="page-link" href="#topic-list-title">{{topics.number}}</a></li>
                <li class="page-item active disabled"><a class="page-link" href="#topic-list-title">{{topics.number + 1}}</a></li>
                <li class="page-item" v-if="topics.number + 1 &#60; topics.totalPages" v-on:click="getTopics(topics.number + 1, topics.size, topics.sort)"><a class="page-link" href="#topic-list-title">{{topics.number + 2}}</a></li>
                <li class="page-item" v-if="topics.number + 2 &#60; topics.totalPages" v-on:click="getTopics(topics.number + 2, topics.size, topics.sort)"><a class="page-link" href="#topic-list-title">{{topics.number + 3}}</a></li>
                <li class="page-item" v-on:click="getTopics(topics.number + 1, topics.size, topics.sort)" :class="{ disabled: topics.last }"><a class="page-link" href="#topic-list-title">következő</a></li>
                <li class="page-item" v-on:click="getTopics(topics.totalPages - 1, topics.size, topics.sort)" :class="{ disabled: topics.last }"><a class="page-link" href="#topic-list-title">utolsó</a></li>
            </ul>
        </nav>
    </main>

    <div th:replace="fragments/scripts :: scripts"></div>

    <footer th:replace="fragments/footer :: footer"></footer>

    <script>

      /*<![CDATA[*/
      new Vue({
        el: '#search',
        data: {
          topics: null,

          filters: {
            name: null,
            description: null,
            type: null,
            category: null,
            supervisor: null,
            status: null
          },

          values: {
            categories: [],
            types: [],
            supervisors: [],
            statuses: []
          }
        },
        created: function () {
          // collecting params
          let values = ["categories", "types", "supervisors", "statuses"]
          let promises = [] // collecting all promises
          for (let i = 0; i < values.length; i++) {
            promises.push(this.getValues(values[i].toLowerCase()))
          }
          // after everything arrived, loop through the responses and bind to the data
          axios.all(promises).then(function (response) {
            for (let i = 0; i < response.length; i++) {
              this.values[values[i]] = response[i].data
            }
          }.bind(this))
        },
        mounted: function () {
          setDisplay('#search', 'block') // it doesn't show up by default
        },
        methods: {
          getTopics: function (page, size, sort) {
            overlayOn()

            let params = {
              size: size,
              page: page
            }
            if (sort != null) params.sort = sort[0].property + ',' + sort[0].direction
            if (this.filters.name) params.name = this.filters.name
            if (this.filters.description) params.description = this.filters.description
            if (this.filters.type) params.type = this.filters.type
            if (this.filters.category) params.category = this.filters.category
            if (this.filters.supervisor) params.supervisor = this.filters.supervisor
            if (this.filters.status) params.status = this.filters.status

            axios.get(contextPath + 'api/topics', {params: params})
              .then(function (response) {
                this.topics = response.data
                overlayOff()
                Vue.nextTick()
                  .then(function () {
                    $('html').animate({
                      scrollTop: $("#topic-list-title").offset().top
                    }, 500)
                  })
              }.bind(this))
          },
          clearFilters: function () {
            this.filters.name = null
            this.filters.description = null
            this.filters.type = null
            this.filters.category = null
            this.filters.supervisor = null
            this.filters.status = null
          },
          getTopicsWithSort: function (prop) {
            this.getTopics(0, this.topics.size, [{
              property: prop,
              direction: (this.topics.sort && this.topics.sort[0].descending ? 'ASC' : 'DESC')
            }])
          },
          isAscending: function (prop) {
            return this.topics.sort && this.topics.sort[0].property == prop && this.topics.sort[0].ascending
          },
          isDescending: function (prop) {
            return this.topics.sort && this.topics.sort[0].property == prop && this.topics.sort[0].descending
          },
          getTopicLink: function (topic) {
            return contextPath + 'topics/' + topic.id
          },
          getValues: function (name) {
            return axios.get(`${contextPath}api/constants/${name}`)
          }
        }
      })
      /*]]>*/
    </script>

</body>
</html>
