<!DOCTYPE html>
<html lang="hu">
<head th:replace="fragments/head :: head('témakereső - ELTE IK')"></head>

<body>

<header th:replace="fragments/header :: header"></header>

<main id="me" class="container" role="main" style="display: none;">

    <section v-if="account">

        <h2 class="text-center">{{account.name}}</h2>

        <div class="row">
            <label class="control-label col-md-3 text-right">felhasználónév</label>
            <div class="col-md-3">{{account.username}}</div>
        </div>
        <div class="row">
            <label class="control-label col-md-3 text-right">e-mail cím</label>
            <div class="col-md-9">{{account.email}}</div>
        </div>

        <div class="row">
            <label class="control-label col-md-3 text-right">jogok</label>
            <div class="col-md-9">{{account.roles.map(role => role.name).join(', ')}}</div>
        </div>

        <div v-if="supervisor">
            <div class="row">
                <label class="control-label col-md-3 text-right">beosztás</label>
                <div class="col-md-9">{{supervisor.title}}</div>
            </div>

            <div class="row">
                <label class="control-label col-md-3 text-right">tanszék</label>
                <div class="col-md-9">{{supervisor.department ? supervisor.department.name : ''}}</div>
            </div>

            <div class="row">
                <label class="control-label col-md-3 text-right">munkahely</label>
                <div class="col-md-9">{{supervisor.workplace}}</div>
            </div>

            <div class="row">
                <label class="control-label col-md-3 text-right">telefonszám</label>
                <div class="col-md-9">{{supervisor.phone}}</div>
            </div>

            <div class="row">
                <label class="control-label col-md-3 text-right">honlap</label>
                <div class="col-md-9">{{supervisor.website}}</div>
            </div>

            <div class="row">
                <label class="control-label col-md-3 text-right">szoba</label>
                <div class="col-md-9">{{supervisor.room}}</div>
            </div>

            <div class="row">
                <label class="control-label col-md-3 text-right">fogadóórák</label>
                <div class="col-md-9">{{supervisor.officeHours}}</div>
            </div>

            <div class="row">
                <label class="control-label col-md-3 text-right">külsős</label>
                <div class="col-md-9">{{formatBoolean(supervisor.external)}}</div>
            </div>

            <div class="row">
                <label class="control-label col-md-3 text-right">hitelesítve</label>
                <div class="col-md-9">{{formatBoolean(supervisor.confirmed)}}</div>
            </div>
        </div>

        <div v-if="student">
            <div class="row">
                <label class="control-label col-md-3 text-right">Neptun kód</label>
                <div class="col-md-9">{{student.code}}</div>
            </div>

            <div class="row">
                <label class="control-label col-md-3 text-right">Tagozat</label>
                <div class="col-md-9">{{student.training ? student.training.name : ''}}</div>
            </div>
        </div>

    </section>

</main>

<div th:replace="fragments/scripts :: scripts"></div>

<footer th:replace="fragments/footer :: footer"></footer>

<script>

  /*<![CDATA[*/
  var app = new Vue({
    el: '#me',
    data: {
      account: null,

      supervisor: null,
      student: null
    },
    created: function () {
      this.getAccount()
        .then(function (response) {
          this.account = response.data
        }.bind(this))

      this.getSupervisor()
        .then(function (response) {
          this.supervisor = response.data
        }.bind(this))

      this.getStudent()
        .then(function (response) {
          this.student = response.data
        }.bind(this))
    },
    mounted: function () {
      setDisplay('#me', 'block') // it doesn't show up by default
    },
    methods: {
      getAccount: function () {
        return axios.get(`${contextPath}api/me`)
      },
      getSupervisor: function () {
        return axios.get(`${contextPath}api/me/supervisor/`)
      },
      getStudent: function () {
        return axios.get(`${contextPath}api/me/student/`)
      },
      formatBoolean: function (value) {
        return value != null ? (value == true ? 'igen' : 'nem') : ''
      }
    }
  })
  /*]]>*/
</script>

</body>
</html>
