<!DOCTYPE html>
<html lang="hu">
<head th:replace="fragments/head :: head('témakereső - ELTE IK')"></head>

<body>

<header th:replace="fragments/header :: header"></header>

<main id="password-forgot" class="container" role="main" style="display: none;">

    <div th:replace="fragments/notifications :: notifications"></div>

    <h2 class="text-center mb-4">elfelejtett jelszó</h2>

    <div class="form-group row justify-content-center">
        <div class="col-md-4">
            <input type="text"
                   class="form-control"
                   v-model="user.username"
                   placeholder="felhasználónév"
                   required="required"
                   :class="{error: $v.user.username.$error}"/>
        </div>
    </div>

    <div class="form-group row justify-content-center">
        <input type="button" class="btn btn-primary simple-button" v-on:click="forgot" value="visszaállítás"/>
    </div>
</main>

<div th:replace="fragments/scripts :: scripts"></div>

<footer th:replace="fragments/footer :: footer"></footer>

<script>

  /*<![CDATA[*/

  Vue.use(window.vuelidate.default)
  var required = window.validators.required

  new Vue({
    el: '#password-forgot',
    data: {
      user: {
        username: null
      },

      messages: [],
      errors: []
    },
    validations: {
      user: {
        username: {required: required},
      }
    },
    mounted: function () {
      setDisplay('#password-forgot', 'block') // it doesn't show up by default
    },
    methods: {
      showError: function (text) {
        this.errors.push({text: text})
      },
      showMessage: function (text) {
        let id = 'message-' + new Date().getTime()
        this.messages.push({id: id, text: text})
        hideMessage(id)
      },
      forgot: function () {
        this.$v.user.$touch()
        if (this.$v.user.$error) return
        axios.post(`${contextPath}api/forgot`, this.user)
          .then(function (response) {
            console.log(response)
            this.showMessage()
            redirect(`${contextPath}`)
          }.bind(this))
          .catch(function (error) {
            console.log(error)
            this.showError(error.response.data.error)
          }.bind(this))
      }
    }
  })
  /*]]>*/
</script>

</body>
</html>
