<!DOCTYPE html>
<html lang="hu">
<head th:replace="fragments/head :: head('témakereső - ELTE IK')"></head>

<body>

<header th:replace="fragments/header :: header"></header>

<main id="registration" class="container" role="main" style="display: none;">

    <div th:replace="fragments/notifications :: notifications"></div>

    <h2 class="text-center mb-4">regisztráció</h2>

    <form>
        <div class="form-group row">
            <label class="col-md-3 text-right col-form-label">témavezetőként?</label>
            <div class="col-md-4">
                <input type="checkbox" value="true" v-model="isSupervisor" id="is-supervisor"/>
                <label for="is-supervisor"></label>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-3 text-right col-form-label">név</label>
            <div class="col-md-4">
                <input type="text" class="form-control"
                       v-model="account.name"
                       :class="{error: $v.account.name.$error}"/>
            </div>
        </div>
        <div class="form-group row messages" v-if="$v.account.name.$dirty &amp;&amp; !$v.account.name.required">
            <label class="col-md-3 col-form-label"></label>
            <div class="col-md-7 errors">
                <span>A mező kitöltése kötelező!</span>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-3 text-right col-form-label">felhasználónév</label>
            <div class="col-md-4">
                <input type="text" class="form-control" autocomplete="username"
                       v-model="account.username"
                       :class="{error: $v.account.username.$error}"/>
            </div>
        </div>
        <div class="form-group row messages" v-if="$v.account.username.$dirty &amp;&amp; !$v.account.username.required">
            <label class="col-md-3 col-form-label"></label>
            <div class="col-md-7 errors">
                <span>A mező kitöltése kötelező!</span>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-3 text-right col-form-label">e-mail cím</label>
            <div class="col-md-4">
                <input type="email" class="form-control"
                       v-model="account.email"
                       :class="{error: $v.account.email.$error}"/>
            </div>
        </div>
        <div class="form-group row messages" v-if="$v.account.email.$dirty &amp;&amp; !$v.account.email.required">
            <label class="col-md-3 col-form-label"></label>
            <div class="col-md-7 errors">
                <span>A mező kitöltése kötelező!</span>
            </div>
        </div>
        <div class="form-group row messages" v-if="$v.account.email.$dirty &amp;&amp; !$v.account.email.email">
            <label class="col-md-3 col-form-label"></label>
            <div class="col-md-7 errors">
                <span>Nem megfelelő formátum!</span>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-3 text-right col-form-label">jelszó</label>
            <div class="col-md-4">
                <input type="password" class="form-control" autocomplete="new-password"
                       v-model="account.password"
                       :class="{error: $v.account.password.$error || !$v.account.passwordsAreSame.passwordsAreSame, valid: !$v.account.password.$invalid &amp;&amp; $v.account.passwordsAreSame.passwordsAreSame}"/>
            </div>
        </div>
        <div class="form-group row messages" v-if="$v.account.password.$dirty &amp;&amp; !$v.account.password.required">
            <label class="col-md-3 col-form-label"></label>
            <div class="col-md-7 errors">
                <span>A mező kitöltése kötelező!</span>
            </div>
        </div>
        <div class="form-group row messages"
             v-if="$v.account.password.$dirty &amp;&amp; !$v.account.password.minLength">
            <label class="col-md-3 col-form-label"></label>
            <div class="col-md-7 errors">
                <span>Minimum 8 karakter hosszú jelszó szükséges!</span>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-3 text-right col-form-label">jelszó még egyszer</label>
            <div class="col-md-4">
                <input type="password" class="form-control" autocomplete="new-password"
                       v-model="account.password2"
                       :class="{error: $v.account.password2.$error || !$v.account.passwordsAreSame.passwordsAreSame, valid: !$v.account.password2.$invalid &amp;&amp; $v.account.passwordsAreSame.passwordsAreSame}"/>
            </div>
        </div>
        <div class="form-group row messages"
             v-if="$v.account.password2.$dirty &amp;&amp; !$v.account.password2.required">
            <label class="col-md-3 col-form-label"></label>
            <div class="col-md-7 errors">
                <span>A mező kitöltése kötelező!</span>
            </div>
        </div>
        <div class="form-group row messages"
             v-if="$v.account.password2.$dirty &amp;&amp; !$v.account.password2.minLength">
            <label class="col-md-3 col-form-label"></label>
            <div class="col-md-7 errors">
                <span>Minimum 8 karakter hosszú jelszó szükséges!</span>
            </div>
        </div>
        <div class="form-group row messages"
             v-if="$v.account.password.$dirty &amp;&amp; $v.account.password2.$dirty &amp;&amp; $v.account.password.minLength &amp;&amp; $v.account.password2.minLength &amp;&amp; !$v.account.passwordsAreSame.passwordsAreSame">
            <label class="col-md-3 col-form-label"></label>
            <div class="col-md-7 errors">
                <span>A jelszavak nem egyeznek!</span>
            </div>
        </div>

        <div v-if="isSupervisor == true">
            <div class="form-group row">
                <label class="col-md-3 text-right col-form-label">beosztás</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" v-model="supervisor.title"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 text-right col-form-label">tanszék</label>
                <div class="col-md-4">
                    <select class="form-control" v-model="supervisor.department">
                        <option :value="null"></option>
                        <option v-for="department in departments" :value="department">{{ department.name }}</option>
                    </select>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 text-right col-form-label">munkahely</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" v-model="supervisor.workplace"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 text-right col-form-label">telefon</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" v-model="supervisor.phone"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 text-right col-form-label">honlap</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" v-model="supervisor.website"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 text-right col-form-label">szoba</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" v-model="supervisor.room"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 text-right col-form-label">fogadóórák</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" v-model="supervisor.officeHours"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 text-right col-form-label">külsős?</label>
                <div class="col-md-4">
                    <input type="checkbox" value="true" v-model="supervisor.external" id="is-external"/>
                </div>
            </div>

        </div>

        <div v-else="">
            <div class="form-group row">
                <label class="col-md-3 text-right col-form-label">neptun kód</label>
                <div class="col-md-4">
                    <input type="text" class="form-control" v-model="student.code"/>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-md-3 text-right col-form-label">tagozat</label>
                <div class="col-md-4">
                    <select class="form-control" v-model="student.training">
                        <option disabled="true" selected='true'></option>
                        <option value="CORRESPONDANCE">levelező tagozat</option>
                        <option value="FULL_TIME">nappali tagozat</option>
                        <option value="PART_TIME">esti tagozat</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-3 col-form-label"></label>
            <div class="col-md-7">
                <input type="button" class="btn btn-primary simple-button" v-on:click="saveUser" value="mentés"/>
            </div>
        </div>

    </form>
</main>

<div th:replace="fragments/scripts :: scripts"></div>

<footer th:replace="fragments/footer :: footer"></footer>

<script>

  /*<![CDATA[*/

  Vue.use(window.vuelidate.default)
  var required = window.validators.required
  var requiredIf = window.validators.requiredIf
  var requiredUnless = window.validators.requiredUnless
  var minLength = window.validators.minLength
  var email = window.validators.email

  new Vue({
    el: '#registration',
    data: {
      isSupervisor: null,

      account: {
        name: null,
        email: null,
        username: null,
        password: null,
        password2: null
      },

      supervisor: {
        name: null,
        title: null,
        department: null,
        workplace: null,
        phone: null,
        website: null,
        room: null,
        officeHours: null,
        external: null,
        account: {}
      },

      student: {
        name: null,
        code: null,
        training: null
      },

      departments: [],

      messages: [],
      errors: []
    },
    validations: {
      account: {
        name: {required: required},
        email: {required: required, email: email},
        username: {required: required},
        password: {required: required, minLength: minLength(8)},
        password2: {required: required, minLength: minLength(8)},
        passwordsAreSame: {
          passwordsAreSame: function () {
            return this.account.password === this.account.password2
          }
        }
      },
      supervisor: {
        name: {required: requiredIf('isSupervisor') }
      },
      student: {
        name: {required: requiredUnless('isSupervisor')}
      }
    },
    created: function () {
      this.getDepartments()
    },
    mounted: function () {
      setDisplay('#registration', 'block') // it doesn't show up by default
    },
    methods: {
      showError: function (text) {
        this.errors.push({ text: text})
      },
      showMessage: function (text) {
        let id = 'message-' + new Date().getTime()
        this.messages.push({ id: id, text: text})
        hideMessage(id)
      },
      saveUser: function () {
        overlayOn()
        if (this.isSupervisor) this.supervisor.name = this.account.name
        else this.student.name = this.account.name

        this.$v.account.$touch()
        if (this.$v.account.$error) return
        if (this.isSupervisor) {
          this.$v.supervisor.$touch()
          if (this.$v.supervisor.$error) return
        } else {
          this.$v.student.$touch()
          if (this.$v.student.$error) return
        }

        let promise = null
        if (this.isSupervisor) {
          this.supervisor.account = this.account
          promise = axios.post(`${contextPath}api/supervisors`, this.supervisor)
        } else {
          this.student.account = this.account
          promise = axios.post(`${contextPath}api/students`, this.student)
        }

        promise
          .then(function (response) {
            console.log(response)
            this.showMessage()
            redirect(`${contextPath}login`)
          }.bind(this))
          .catch(function (error) {
            console.log(error)
            this.showError(error.response.data.error)
          }.bind(this))
      },
      getDepartments: function () {
        axios.get(`${contextPath}api/constants/departments`)
          .then(function (response) {
            this.departments = response.data
          }.bind(this))
          .catch(function (error) {
            console.log(error)
            this.showError(error.response.data.error)
          }.bind(this))
      }
    }
  })
  /*]]>*/
</script>

</body>
</html>
