<!DOCTYPE html>
<html lang="hu">
<head th:replace="fragments/head :: head('témakereső - ELTE IK')"></head>

<body>

	<p hidden="" id="topic" th:text="${id}"></p>
	<span hidden="" id="username" sec:authentication="principal.username"></span>

	<header th:replace="fragments/header :: header"></header>

	<main id="settings" class="container" role="main" style="display: none;">

		<div class="row">
			<div class="col-md-8">
	           	<h1>sablonok</h1>
	        </div>
		</div>
		<form>
			<div class="row" v-if="parameters.bscForm">
                <label class="control-label col-md-3 text-right">Bsc témabejelentő</label>
                <div class="col-md-3"><a v-bind:href="getFileLink(parameters.bscForm)">jelenlegi dokumentum</a></div>
            </div>
            <div class="form-group row">
                <label class="control-label col-md-3">új Bsc témabejelentő feltöltése</label>
                <div class="controls col-md-4">
                    <input type="file" class="form-control" id="bsc_form"/>
                </div>
                <div class="col-md-3">
				    <input type="button" class="btn btn-primary simple-button" v-on:click="saveForm('bsc')" value="feltöltés"/>
				</div>
            </div>
		</form>
		
		<form>
			<div class="row" v-if="parameters.mscForm">
                <label class="control-label col-md-3 text-right">Msc témabejelentő</label>
                <div class="col-md-3"><a v-bind:href="getFileLink(parameters.mscForm)">jelenlegi dokumentum</a></div>
            </div>
            <div class="form-group row">
                <label class="control-label col-md-3">új Msc témabejelentő feltöltése</label>
                <div class="controls col-md-4">
                    <input type="file" class="form-control" id="msc_form"/>
                </div>
                <div class="col-md-3">
				    <input type="button" class="btn btn-primary simple-button" v-on:click="saveForm('msc')" value="feltöltés"/>
				</div>
            </div>
		</form>
		
		<form v-if="supervisors.length > 0">
			<div class="row">
				<div class="col-md-8">
		           	<h1>hitelesítés</h1>
		        </div>
			</div>
			<div class="table-responsive">
				<table class="table">
					<thead>
						<tr>
							<th>#</th>
							<th>név</th>
							<th>title</th>
							<th>munkahely</th>
							<th>szoba</th>
							<th>fogadóórák</th>
							<th>e-mail</th>
							<th>telefon</th>
							<th>honlap</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="supervisor in supervisors">
							<td>{{supervisor.id}}</td>
							<td>{{supervisor.name}}</td>
							<td>{{supervisor.title}}</td>
							<td>{{supervisor.workplace}}</td>
							<td>{{supervisor.room}}</td>
							<td>{{supervisor.officeHours}}</td>
							<td>{{supervisor.email}}</td>
							<td>{{supervisor.phone}}</td>
							<td>{{supervisor.website}}</td>
							<td><button class="btn btn-primary simple-button" v-on:click="confirm(supervisor)">hitelesít</button></td>
						</tr>					
					</tbody>
				</table>
			</div>
		</form>
	</main>

	<div th:replace="fragments/scripts :: scripts"></div>

	<footer th:replace="fragments/footer :: footer"></footer>

	<script>
		
		/*<![CDATA[*/
			
		Vue.use(window.vuelidate.default);
		var required = window.validators.required;

		var app = new Vue({
			el: '#settings',
			data: {
				parameters: {
					bscForm: null,
					mscForm: null					
				},
				
				supervisors: []
			// 	messages: [],
			// 	errors: []
			},
			created : function() {
				var self = this;
				
				// collecting params
	            var values = ["bscForm", "mscForm"];
	            var promises = []; // collecting all promises
	            for (var i = 0; i < values.length; i++) {
	                promises.push(self.getParameterValue(values[i].replace(/([A-Z])/, '_$1').toUpperCase()));
	            };
	            // after everything arrived, loop through the responses and bind to the data
	            axios.all(promises).then(function (response) {
	                for (var i = 0; i < response.length; i++) {
	                    self.parameters[values[i]] = response[i].data;
	                }
	            });
	            
	            self.getUnconfirmedSupervisors();
				
			},
			mounted : function() {
				setDisplay('#settings', 'block'); // it doesn't show up by default
			},
			methods: {
				getUnconfirmedSupervisors: function() {
					var self = this;
					axios.get(contextPath + 'api/supervisors/unconfirmed')
						.then(function(response) {
							self.supervisors = response.data;
						});
				},
				getParameterValue: function(identifier) {
					return axios.get(contextPath + 'api/parameters/' + identifier)
				},
				getFileLink: function(id) {
	                return contextPath + 'api/files/' + id;
	            },
	            confirm: function(supervisor) {
	            	axios.put(contextPath + 'api/supervisors/' + supervisor.id + '/confirm')
	            		.then(function() {
	            			redirect(contextPath + 'settings');
	            		});
	            },
				saveForm: function(type) {
					var self = this;
					
					// TODO validation
					
	                var data = new FormData();
	                var currentFile = $('#' + type + '_form')[0];
	                if (currentFile && currentFile.files[0] != null) {
	                    data.append('file', currentFile.files[0]);
	                    axios.put(contextPath + 'api/parameters/' + type.toUpperCase() + '_FORM', data)
	                    	.then(function(response) {
	                    		console.log(response.data)
	                    		redirect(contextPath + 'settings');
	                    	});
	                }	
				}
			}
		});
		/*]]>*/
	</script>

</body>
</html>
